<html>

  <head>
    <title>About</title>
    <link rel='stylesheet' href='/css/styles.css' />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p></p>
    <img class="portrait" src='/img/mingwei-putrajaya.jpg' />

    </div>


    {{>footer}}
  </body>

</html>